@font-face {
  font-family: LEDfont;
  src: url(/public/Fonts/Digital-7.ttf);
}

.Clock-Wrapper {
  font-family: "LEDfont";
  background-color: "primary";

  height: 118px;
}

.Clock-Time-Front {
  justify-content: center;
  font-size: 70px;
}
