
@font-face{
    font-family: "Digital-7 V7";
    src: url("58045dabdc3a361cb9bb9faf2f1dd1f3.eot");
    src: url("58045dabdc3a361cb9bb9faf2f1dd1f3.eot?#iefix")format("embedded-opentype"),
        url("58045dabdc3a361cb9bb9faf2f1dd1f3.woff")format("woff"),
        url("58045dabdc3a361cb9bb9faf2f1dd1f3.woff2")format("woff2"),
        url("58045dabdc3a361cb9bb9faf2f1dd1f3.ttf")format("truetype"),
        url("58045dabdc3a361cb9bb9faf2f1dd1f3.svg#Digital-7 V7")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}


@font-face{
    font-family: "Bazaronite V1";
    src: url("./Bazaronite/ca52d6ba2a90c501b41906201fd10370.eot");
    src: url("./Bazaronite/ca52d6ba2a90c501b41906201fd10370.eot?#iefix")format("embedded-opentype"),
        url("./Bazaronite/ca52d6ba2a90c501b41906201fd10370.woff")format("woff"),
        url("./Bazaronite/ca52d6ba2a90c501b41906201fd10370.woff2")format("woff2"),
        url("./Bazaronite/ca52d6ba2a90c501b41906201fd10370.ttf")format("truetype"),
        url("./Bazaronite/ca52d6ba2a90c501b41906201fd10370.svg#Bazaronite V1")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}


@font-face{
    font-family: "Dot Spot";
    src: url("./DotSpot/a0274e462b735909a68c2b2c5bf6bdb9.eot");
    src: url("./DotSpot/a0274e462b735909a68c2b2c5bf6bdb9.eot?#iefix")format("embedded-opentype"),
        url("./DotSpot/a0274e462b735909a68c2b2c5bf6bdb9.woff")format("woff"),
        url("./DotSpot/a0274e462b735909a68c2b2c5bf6bdb9.woff2")format("woff2"),
        url("./DotSpot/a0274e462b735909a68c2b2c5bf6bdb9.ttf")format("truetype"),
        url("./DotSpot/a0274e462b735909a68c2b2c5bf6bdb9.svg#Dot Spot")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}